
.raleway-normal-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-nav-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
}
body{
  background-color: #F5F8FF;
}


/* share styles */

.primary-color{
    color: #4E47FF;
}
.color01{
  color: #252432;
}
.color02{
  color: #1E1E1E;
}
.color03{
  color: #757575;
}
.color04{
  color: #B3B3B3;
}
.primary-btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.primary-btn:hover{
  background-color: #0800ff;
  pointer-events: painted;
  cursor: pointer;
}

/*__________ Header Styles__________ */
.header{
  background-image: url('../Assets/Hero-bg.png');
  background-repeat: no-repeat;
  height: 698px;
  width: auto;
}
/* Header Nav Style */
.header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px 150px 150px;
}
nav button{
  height: 48;
}
.website-logo{
    font-size: 34px;
}
.website-logo a{
  text-decoration: none;
  color: #4E47FF;
  font-weight: 1200px;
}

/* Header Banner Style */
.banner{
  text-align: center;
}
.banner-text{
  color: #252432;
  font-weight: bold;
  font-size: 65px;
  margin: 0px 265px 37px 265px;
}
.banner .focuse-btn{
  margin-bottom: 152px;
}


/* __________ Main Section Styles__________ */

main{
  max-width: 1140px;
  margin: 0px auto;
}

/* Action-section Style */
.action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 110px 0px ;
}
.action-container-01{
  width: 400px;
  height: 210px;
  
}
.action-title{
  font-weight: bold;
  font-size: 35px;
}
.action-container-02 img{
  height: 330;
  width: 405;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px #000000;
}


/* Productive User Styles */

.productive-user{
  background-color: rgba(78, 71, 255, 0.1);
  padding: 30px 140px;
  border-radius: 25px;
  margin-bottom: 130px;
}
.productive-user-title{
  font-weight: bold;
  font-size: 38px;
  text-align: center;
}
.productive-user-items{
  display: flex;
  justify-content: space-between;
}
.productive-user-items .item-title{
  font-weight: bold;
  font-size: 80px;
  margin: 0px auto;
}
.productive-user-items .item-text{
  margin: 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}


/* Users’ Feedback Section */
.users-feedback{
  margin-bottom: 135px;
}
.users-feedback-title{
  color: #252432;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
}
.feedback-container{
  display: flex;
  gap: 20px;
}
.feedback-container-item{
  border-radius: 14px;
  background-color: #ffffff;
  padding: 24px;
  box-shadow: 0px 4px 4px 0 rgba(210, 202, 202, 0.25);
}
.rating-title{
  color: #1E1E1E;
  margin-bottom: 0px;
}
.rating-description{
  margin: 10px 0px 30px 0px;
}

.rating-user-profile{
  display: flex;
  gap: 6px;
  align-items: center;
}
.rating-user-profile img{
  border-radius: 50%;
}
.rating-user-profile .user-name{
  color: #757575;
  font-size: 14px;
  margin: 0px;
}
.rating-user-profile .review-time{
  color: #B3B3B3;
  font-size: 10px;

}

/* Focus  Style */
.focus{
  text-align: center;
  background-color: #ffffff;
  padding: 50px 0px 70px 0px;
  margin-bottom: 90px;
  border-radius: 25px;
}
.focus-title{
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0px;
}
.focus-description{
  color: rgba(0, 0, 0, 0.5);
}
.focus button{
  margin-bottom: 20px;
}
.focus img{
  height: 360px;
  width: 840px;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Touch Section Style */

.touch{
  display: flex;
  gap: 115px;
  align-items: center;
  margin-bottom: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.touch-container-title{
  font-weight: bold;
  font-size: 97px;
  width: 528px;
}
.touch-container-right form{
  
  padding-bottom: 70px;
  
}
.touch-container-right label{
  color: #000000;
  font-weight: 650px;
  font-size: 18;
}

.touch-container-right input[type='email'],
 .touch-container-right input[type='text'], .touch-container-right textarea{
    display: block;
    height: 60px;
    width: 195%;
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(212, 212, 212, 0.25);
}
.touch-container-right input::placeholder{
  font-size: 14px;

}

.touch-container-right textarea{
  height: 130px;
  padding-top: 20px;
}
.touch-container-right button{
  width: 203%;
  padding: 20px 0px;
  margin-bottom: 70px;
}

/*_________ Footer Style__________ */

.footer{
  text-align: center;
  padding: 104px 0px;
  background-color: #ffffff;
}
.footer-description{
  padding: 0px 400px;
  color: #8987A1;
  margin: 30px 0px;
}

.footer ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer ul li{
  padding-right: 48px;
}

.footer ul li a{
  text-decoration: none;
  color: #8987A1;

}